body{
  background-color:lightgrey;
}
hr{
  border: 1px solid blue;
}
p{

}
ul>li{

}
ol>li{

}
ul.topbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: black;
}

li.barElement {
  float: left;
}

li.barElement a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}
